## Exploratory Data Analysis de Pokemons
Neste arquivo ser√° explorado algumas

### Preparo

##### Importando bibliotecas

In [64]:
import pandas as pd

##### Lendo csv

In [65]:
pokemonData = pd.read_csv("pokemon.csv",index_col=0)

##### Trocando N/A por - para melhor leitura

In [66]:
pokemonData.type_2 = pokemonData.type_2.fillna("-")

#### Analise de dados

##### Primeiras colunas de exemplo do dataset

In [67]:
pokemonData.head()

,name,type_1,type_2,total,hp,attack,defense,sp_attack,sp._def,speed,generation,legendary
id,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,-,309,39,52,43,60,50,65,1,False

In [68]:
pokemonData.type_1.describe()

count       800
unique       18
top       Water
freq        112
Name: type_1, dtype: object

In [77]:
pokemonData.loc[(pokemonData.type_1=='Grass') & (pokemonData.attack>100)][['generation','name']]

     generation                     name
id
71            1               Victreebel
254           3    SceptileMega Sceptile
286           3                  Breloom
332           3                 Cacturne
389           4                 Torterra
460           4  AbomasnowMega Abomasnow
470           4                  Leafeon
492           4         ShayminSky Forme
652           6               Chesnaught

In [70]:
pokemonData.type_1.value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: type_1, dtype: int64